#hero {
    background-size:cover;  

    /* Workaround for some mobile browsers */
    min-height:100vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.middle-element{
    text-align: center;
    margin-top: 70px;
}

#unique-caption{
    font-family: Montserrat-Bold;
    color: #023a19;
    font-size: 48px;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
}

ul#horizontal-list li {
    display: inline;
}

ul #large-img img{
    height: 316px;
    width: 316px;
    background-color: #023a19;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}

ul #small-img img{
    height: 240px;
    width: 240px;
    background-color: #023a19;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}

ul#horizontal-list figure{
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

ul#horizontal-list figcaption{
    color: #303030;
    font-family: Montserrat-SemiBold;
    font-size: 24px;
    line-height: 120%;
}

#why-invest{
    margin-top: 80px;
}

#why-invest img{
    clip: rect(0px,60px,200px,0px);
}

.why-invest-caption {
    position: absolute;
    top: 18%;
    right: 8%;
    line-height: 110%;
}

#get-started{
    margin-top: 60px;
    text-align: center;
    line-height: 200%;
}

#get-started button{
    margin-top: 20px;
    margin-bottom: 80px;
    width: 330px;
    height: 87px;
    font-size: 37px;
    background-color: #023a19;
    border-radius: 16px;
}

#laptop-content{
    margin-top: 30px;
    line-height: 300%;
}

#laptop-img{
    height: 540px;
    width: 540px;
}

.laptop-text{
    position: absolute;
    top: 20%;
    left: 10%;
}

#get-started-sm{
    margin-left: 60px;
    line-height: 200%;
}

#get-started-sm button{
    margin-top: 20px;
    margin-bottom: 80px;
    width: 280px;
    height: 73px;
    font-size: 30px;
    background-color: #023a19;
    border-radius: 16px;
}

.laptop-text ol {
    list-style: none;
    counter-reset: myVar;
}
.laptop-text ol li {
    counter-increment: myVar;
}
.laptop-text ol li::before {
    content: counter(myVar) ". ";
    color: white;
    font-weight: bold;
    background-color: #023a19;
    border-radius: 100%;
    padding: 3px;
    padding-left: 6px;
    margin-right: 15px;
    margin-left: -40px;
}

#products-text-content {
    position: absolute;
    top: 15%;
    left: 4%;   
    /* line-height: 210%; */
}