@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

.container-fluid{
    margin: 0px;
    padding: 0px;
    position: relative;
}

a {
    color: inherit;
}

a:hover,
a:focus {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

a:focus {
  outline: none;
}

.font-size-xsm{
    font-size: 12px;
}

.font-size-sm{
    font-size: 24px;
}

.font-size-md{
    font-size: 34px;
}

.font-size-lg{
    font-size: 48px;
}

.font-family-md{
    font-family: Montserrat-Medium;
}

.font-family-sbd{
    font-family: Montserrat-SemiBold;
} 

.font-family-bd{
    font-family: Montserrat-Bold;
}

.font-color-wt{
    color: white;
} 

.font-color-gr{
    color: #023a19;
}

.font-color-bk{
    color: black;
}

nav .navbar-nav li a, .navbar-brand{
    font-family: Montserrat-Medium;
    color: white !important;
}

.navbar-brand{
    margin-top: 20px;
    margin-left: 5%;
}

.nav-item {
    margin-top: 20px;
    padding-left: 15px;
} 

.navbar-toggler{
    background-color: white;
    border-color: white;
}

nav .navbar-nav li a:hover, .navbar-brand:hover{
    font-weight: bold;
}

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.main {
    position: relative;
    min-height: 100vh;
}