@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.otf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: Avenir-Black;
    src: url(../fonts/AvenirLTStd-Black.otf);
}

@font-face {
    font-family: Avenir-Book;
    src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: Avenir-Roman;
    src: url(../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: Acumin-Bold;
    src: url(../fonts/Acumin-BdPro.otf);
}

@font-face {
    font-family: Avenir-Medium;
    src: url(../fonts/Avenir-Medium.ttf);
}

@font-face {
    font-family: Avenir-Heavy;
    src: url(../fonts/AEH.ttf);
}

.container-fluid{
    margin: 0px;
    padding: 0px;
    position: relative;
}

a {
    color: inherit;
}

a:hover,
a:focus {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

a:focus {
  outline: none;
}

.font-size-xsm{
    font-size: 12px;
}

.font-size-sm{
    font-size: 24px;
}

.font-size-md{
    font-size: 34px;
}

.font-size-lg{
    font-size: 46px;
}

.font-family-md{
    font-family: Montserrat-Medium;
}

.font-family-sbd{
    font-family: Montserrat-SemiBold;
} 

.font-family-bd{
    font-family: Montserrat-Bold;
}

.font-family-acumin{
    font-family: Acumin-Bold;
}

.font-family-avenir{
    font-family: Avenir-Book;
}

.font-family-avenir-rm{
    font-family: Avenir-Roman;
}

.font-family-avenir-md{
    font-family: Avenir-Medium;
}

.font-family-avenir-bk{
    font-family: Avenir-Black;
}

.font-family-avenir-hv{
    font-family: Avenir-Heavy;
}

.font-color-wt{
    color: white;
} 

.font-color-gr{
    color: #023a19;
}

.font-color-bk{
    color: black;
}

.navbar-nav{
    margin-top: 40px;
    margin-right: 145px;
    opacity: 0.7;
}

nav .navbar-nav li a{
    color: white !important;
    font: normal normal normal 16px/22px Avenir-Book;
    font-size: 22px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

nav .navbar-nav li a.current{
    color: #ffffff;
    background:#f1d74c;
}

.navbar-brand{
    margin-top: 40px;
    margin-left: 8%;
}

.white-logo{
    height: 55px;
    width: 150px;
}

.nav-item {
    padding-left : 40px;
} 

.navbar-toggler{
    background-color: white;
    border-color: white;
}

nav .navbar-nav li a:hover, .navbar-brand:hover{
    font-weight: bold;
}

#header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.main {
    position: relative;
    min-height: 100vh;
}

.banner-text{
    font-size: 84px;
    font-family: Acumin-Bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    position: absolute;
    width: 100%;
    text-align:center;
    line-height: 120%;
}

footer{
    height: 370px;
    background-color: rgba(41, 41, 41, 1);
    position: relative;
}

.contact-us-tagline{
    margin-top: 6%;
    left: -12%;
}

.contact-us-button{
    margin-top: 10%;
    right: -10%;
}

footer button{
    width: 260px;
    height: 60px;
    font-size: 22px;
    letter-spacing: 0.16px;
    background-color: inherit;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 12px;
}

.seperator {
    border: 1px solid #FFFFFF;
    opacity: 0.08;
    margin-top: 4%;
    margin-left: -17%;
    margin-right: -17%;
}

.contact-us-logo{
    margin-top: 2%;
    left: -12%;
}

.contact-us-copyright{
    margin-top: 3.5%;
    text-align: center;
    opacity: 0.65;
}