.home-banner {
    background: url("../images/links/homepage-banner.jpg");
    background-size: cover;
    background-position: center;
}

.investors-banner {
    background: url("../images/links/investor.png");
    background-size: cover;
    background-position: center;
}

.products-banner {
    background: url("../images/links/products-and-services.png");
    background-size: cover;
    background-position: center;
}

.about-banner {
    background: url("../images/links/vision.png");
    background-size: cover;
    background-position: center;
}

.mission-banner {
    background: url("../images/links/mission.png");
    background-size: cover;
    background-position: center;
}

.middle-element{
    text-align: center;
    margin-top: 70px;
}

.middle-element figcaption {
    color: #303030;
}

#large-img img{
    height: 316px;
    width: 316px;
    background-color: #023a19;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}

#small-img img{
    height: 240px;
    width: 240px;
    background-color: #023a19;
    object-fit: cover;
    border-radius: 100%;
    margin-bottom: 20px;
}

#why-invest{
    margin-top: 80px;
}

.why-invest-caption {
    font-size: 1.75vw;
    position: absolute;
    top: 18%;
    right: 100px;
    line-height: 110%;
}

#get-started{
    margin-top: 60px;
    text-align: center;
    line-height: 200%;
}

#get-started button{
    margin-top: 20px;
    margin-bottom: 80px;
    width: 330px;
    height: 87px;
    font-size: 37px;
    background-color: #023a19;
    border-radius: 16px;
}

#laptop-content{
    background-color: #f9f9f9;
    padding-left: calc(0px + 10vw);
    padding-right: 8%;
    padding-bottom: 30px;
}

.laptop-text{
    position: relative;
    top: 20%;
    left: 10%;
}

#get-started-sm{
    margin-left: 60px;
}

#get-started-sm button{
    margin-top: 20px;
    margin-bottom: 80px;
    width: 280px;
    height: 73px;
    font-size: 30px;
    background-color: #023a19;
    border-radius: 16px;
}

.laptop-text ol {
    list-style: none;
    counter-reset: myVar;
}
.laptop-text ol li {
    counter-increment: myVar;
    margin: 10px 0;
}

.laptop-text ol li:hover{
    font-weight: bold;
    cursor: pointer;
    font-size: inherit;
}

.laptop-text ol li::before {
    content: counter(myVar) ". ";
    color: white;
    font-weight: bold;
    background-color: #023a19;
    border-radius: 100%;
    padding: 3px;
    padding-left: 6px;
    margin-right: 15px;
    margin-left: -40px;
}

#products-text-content {
    position: absolute;
    top: 15%;
    left: 4%;   
}

#cf7 {
    position:relative;
    height:360px;
    width:500px;
    margin-bottom: 100px;
    margin-top: 100px;
}

#cf7 img {
    height: 360px;
    width: 500px;
    position: absolute; 
    left:0; 
    transition: all 1s ease-out;
    opacity:0;
}

#cf7 img.opaque {
    opacity:1;
}
